.complaints-page{
  min-height:100vh;
  color:white;
}

/* HEADER */

.complaints-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:25px;
  gap:20px;
  flex-wrap:wrap;
}

.complaints-header h2{
  font-weight:bold;
  margin:0;
}

.complaints-header p{
  opacity:.7;
  margin-top:5px;
}

.timestamp-box{
  background:#111827;
  padding:10px 15px;
  border-radius:12px;
  font-size:14px;
}

/* STATS */

.complaints-stats{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
  margin-bottom:25px;
  color: white;
}

.complaint-stat-card{
  background:#1e1b4b;
  color: white !important;
  border-radius:20px;
  padding:20px;
  border:1px solid rgba(255,255,255,.05);

  display:flex;
  justify-content:space-between;
  align-items:center;
}

.complaint-stat-card span{
  color:#9ca3af;
}

.complaint-stat-card h3{
  margin:0;
}

/* FILTERS */

.filters-card{
  background:#1e1b4b !important;
  border:none !important;
  padding:20px;
  border-radius:20px !important;
  margin-bottom:25px;
  color: white !important;
}

.filters-header{
  display:flex;
  align-items:center;
  gap:10px;
  margin-bottom:20px;
  font-weight:bold;
}

.filters-card input,
.filters-card select{
  background:#111827 !important;
  border:none !important;
  color:white !important;
  padding:12px !important;
}

/* GRID */

.complaints-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:20px;
}

/* CARD */

.complaint-card{
  background:#1e1b4b !important;
  border:none !important;
  border-radius:22px !important;
  padding:22px;
  color:white !important;
  transition:.3s;
}

.complaint-card:hover{
  transform:translateY(-4px);
}

/* TOP */

.complaint-top{
  display:flex;
  justify-content:space-between;
  margin-bottom:20px;
}

.complaint-top h5{
  margin:0;
  font-weight:bold;
}

.complaint-type{
  opacity:.7;
  font-size:14px;
}

/* BODY */

.complaint-body{
  display:flex;
  flex-direction:column;
  gap:14px;
}

.complaint-info{
  background:rgba(255,255,255,.04);
  padding:12px;
  border-radius:12px;

  display:flex;
  align-items:center;
  gap:10px;
}

/* ACTIONS */

.complaint-actions{
  margin-top:20px;
  display:flex;
  justify-content:flex-end;
}

/* EMPTY */

.empty-state{
  width:100%;
  padding:60px 20px;
  text-align:center;
  opacity:.7;
}

/* MOBILE */

@media(max-width:992px){

  .complaints-stats{
    grid-template-columns:repeat(2,1fr);
  }

  .complaints-grid{
    grid-template-columns:1fr;
  }

}

@media(max-width:600px){

  .complaints-stats{
    grid-template-columns:1fr;
  }

}