.driver-card {
  border-radius: 10px;
  background: #1e1b4b;
  color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
   display: flex;
    justify-content: space-between;
    align-items: start;
}

.driver-img {
  width: 90px !important;
  height:100px !important;
  border: 3px solid #4f46e5;
}
.header {
  font-size: 14px;
  color: #cbd5f5;
 
  width: 100%;
}

.wallet-box {
  border: 1px solid #ddd;
  color: white;
  width: 100%;
  border-color: #1e1b4b;
  border-radius: 10px;
  background: rgba(0,0,0,0.5);
}

.stars {
  color: #facc15;
  font-size: 18px;
}


