
:root{
    
   --primary-blue: #3b82f6;
    --primary-purple: #a855f7;
     --primary-bluee: 59, 130, 246;
  --primary-purplee: 168, 85, 247;

    
    --bg-dark: #020617;
    --bg-gradient-start: #1e1b4b;
    

    /*لون للكرت */
      --card-bg: #1e1b4b;
}
/*  للتحكم بالحجم بشكل اسهل */
*{
    box-sizing: border-box;
}
/*لتوحيد الخط */
body{
    font-family: "Lato", sans-serif;
}
/*الكل يكون اله نفس الكوتسنر حيث 0= لا يوجد مسافة من الاعلى ة الاشفا و الاوت تعني المسافة من اليسار ة اليني تكون افتراضية */
.container{
    margin: 0 auto;
}
/*تووحيد ارتفاع الشاشة */
.h-100{
    height: 100vh;
}
/*مهم لترتيب العناصر */
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row .col-12{
    width: 100%;
}
.row .col-6{
    width: 50%;
}
